/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

.esquerda {
  display: flex;
  background-color: #ccde8d;
  height: 100vh;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.esquerda .img {
  border-radius: 50% 50%;
}

.direita,
.direita2 {
  display: flex;
  background-color: #9ea93f1c;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.direita h2,
.direita2 h2 {
  font-size: 40px;
  font-weight: bold;
}

.direita h2 span,
.direita2 h2 span {
  color: #60b665; /* Cor do texto "AgroTech" */
  font-weight: bold;
}

.nomeprincipal {
  margin-bottom: 10%;
}

.input {
  color: #ffffff5f;
}

.email {
  font-size: 20px;
}

.email h3,
.senha h3 {
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: bold;
}

.input-email {
  background-image: url("../assets/imgs/email.png"); /* URL da imagem do ícone */
  background-position: 10px center; /* Posição da imagem */
  background-repeat: no-repeat;
  background-size: 34px 34px;
  background-color: #ffffff5f;
  border-color: #818181;
  border-radius: 12px; /* Não repetir a imagem */
  padding-left: 13%; /* Espaçamento para o texto não sobrepor a imagem */
  height: 81px; /* Altura do input *//* color palette from <https://github.com/vuejs/theme> */
    :root {
      --vt-c-white: #ffffff;
      --vt-c-white-soft: #f8f8f8;
      --vt-c-white-mute: #f2f2f2;
  
      --vt-c-black: #181818;
      --vt-c-black-soft: #222222;
      --vt-c-black-mute: #282828;
  
      --vt-c-indigo: #2c3e50;
  
      --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
      --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
      --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
      --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  
      --vt-c-text-light-1: var(--vt-c-indigo);
      --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
      --vt-c-text-dark-1: var(--vt-c-white);
      --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
    }
  
    /* semantic color variables for this project */
    :root {
      --color-background: var(--vt-c-white);
      --color-background-soft: var(--vt-c-white-soft);
      --color-background-mute: var(--vt-c-white-mute);
  
      --color-border: var(--vt-c-divider-light-2);
      --color-border-hover: var(--vt-c-divider-light-1);
  
      --color-heading: var(--vt-c-text-light-1);
      --color-text: var(--vt-c-text-light-1);
  
      --section-gap: 160px;
    }
  
    @media (prefers-color-scheme: dark) {
      :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);
  
        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);
  
        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
      }
    }
  
    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
      font-weight: normal;
    }
  
    body {
      min-height: 100vh;
    }
  
    .body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: space-around;
      align-items: center;
    }
  
    .esquerda {
      display: flex;
      background-color: #ccde8d;
      height: 100vh;
      width: 50%;
      justify-content: center;
      align-items: center;
    }
  
    .esquerda .img {
      border-radius: 50% 50%;
    }
  
    .direita,
    .direita2 {
      display: flex;
      background-color: #9ea93f1c;
      width: 50%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .direita h2,
    .direita2 h2 {
      font-size: 40px;
      font-weight: bold;
    }
  
    .direita h2 span,
    .direita2 h2 span {
      color: #60b665;
      /* Cor do texto "AgroTech" */
      font-weight: bold;
    }
  
    .nomeprincipal {
      margin-bottom: 10%;
    }
  
    .input {
      color: #ffffff5f;
    }
  
    .email {
      font-size: 20px;
    }
  
    .email h3,
    .senha h3 {
      margin-bottom: 5%;
      margin-top: 5%;
      font-weight: bold;
    }
  
    .input-email {
      background-image: url("../assets/imgs/email.png");
      /* URL da imagem do ícone */
      background-position: 10px center;
      /* Posição da imagem */
      background-repeat: no-repeat;
      background-size: 34px 34px;
      background-color: #ffffff5f;
      border-color: #818181;
      border-radius: 12px;
      /* Não repetir a imagem */
      padding-left: 13%;
      /* Espaçamento para o texto não sobrepor a imagem */
      height: 81px;
      /* Altura do input */
      width: 532px;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 2%;
      /* Largura do input */
    }
  
    .senha {
      display: flex;
      flex-direction: column;
      font-size: 20px;
    }
  
    .senha a {
      padding-left: 65%;
      text-decoration: none;
      margin-top: 5%;
      margin-bottom: 2%;
    }
  
    .input-senha {
      background-image: url("../assets/imgs/senha.png");
      /* URL da imagem do ícone */
      background-position: 10px center;
      /* Posição da imagem */
      background-repeat: no-repeat;
      background-size: 34px 34px;
      background-color: #ffffff5f;
      border-color: #818181;
      border-radius: 12px;
      padding-left: 13%;
      height: 81px;
      /* Altura do input */
      width: 532px;
      font-size: 20px;
      font-weight: bold;
      /* Largura do input */
    }
  
    .botao {
      margin-top: 10%;
      margin-bottom: 3%;
    }
  
    button {
      background-color: #4aad52;
      width: 532px;
      height: 81px;
      font-size: 30px;
      font-weight: bold;
      border-radius: 12px;
      border: none;
    }
  
    button:active {
      box-shadow: inset 0px 0.1em 0.6em #3ce044;
      transform: translateY(0.1em);
    }
  
    .criaConta {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
    }
  
    a {
      color: #60712f;
    }
  
    .email h4 {
      text-align: justify;
      font-size: 300;
      font-weight: bold;
    }
  width: 532px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2%; /* Largura do input */
}

.senha {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.senha a {
  padding-left: 65%;
  text-decoration: none;
  margin-top: 5%;
  margin-bottom: 2%;
}

.input-senha {
  background-image: url("../assets/imgs/senha.png"); /* URL da imagem do ícone */
  background-position: 10px center; /* Posição da imagem */
  background-repeat: no-repeat;
  background-size: 34px 34px;
  background-color: #ffffff5f;
  border-color: #818181;
  border-radius: 12px;
  padding-left: 13%;
  height: 81px; /* Altura do input */
  width: 532px;
  font-size: 20px;
  font-weight: bold; /* Largura do input */
}

.botao {
  margin-top: 10%;
  margin-bottom: 3%;
}

button {
  background-color: #4aad52;
  width: 532px;
  height: 81px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em #3ce044;
  transform: translateY(0.1em);
}

.criaConta {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

a {
  color: #60712f;
}

.email h4 {
  text-align: justify;
  font-size: 300;
  font-weight: bold;
}
