@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";

html {
  font-family: "Noto Sans";
}


.noto-sans-700{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-400{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-300{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}



@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
}



